@import "../../styles/variables.scss";

%base-button {
  &:focus {
    outline: 0.2rem solid $light-color;
    outline-offset: 0.2rem;
  }
}
.btn {
  cursor: pointer;
  border: none;
  &--rect {
    padding: 1rem 2.5rem;
    border-radius: 0.3rem;
  }
  &--primary {
    @extend %base-button;
    background-image: $primary-lg;
    color: $light-color;
    text-shadow: 0 0 0.2rem $dark-color;
    transition: filter 200ms ease, text-shadow 200ms ease;
    &:hover {
      filter: brightness(1.5);
      text-shadow: 0 0 0.3rem $dark-color;
    }
  }
  &--secondary {
    @extend %base-button;
    background-color: $light-color;
    transition: box-shadow 300ms ease;
    &:hover {
      box-shadow: 0 0.4rem 1rem $shadow-color;
    }
  }
}
