@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $fz-default;
  font-family: $ff-common;
}

ul {
  list-style-type: none;
}

button,
input {
  font-size: $fz-default;
}
