@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    @extend *;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: $fz-default;
  font-family: $ff-common;
  color: $dark-color;
}

ul {
  list-style-type: none;
}

button,
input {
  font-size: $fz-default;
  font-family: $ff-common;
}

.content-wrapper {
  max-width: 145rem;
  width: 100%;
  margin: 0 auto;
}
