//font
$fz-default: 1.6rem;
$ff-common: "Montserrat Alternates", sans-serif;
$fw-normal: 500;
$fw-bold: 700;

//colors
$primary-color: #2980b9;
$secondary-color: #6dd5fa;
$primary-lg: linear-gradient(
  to right,
  $primary-color,
  $secondary-color
); //background linear gradient
$dark-color: #111;

$secondary-lg: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
$light-color: white;
$blue-color: rgb(159, 225, 241);
$shadow-color: rgba(black, 0.2);
