@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$line-style: 0.2rem solid $blue-color;

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  max-width: 43rem;
  box-shadow: 0 0.4rem 0.8rem $shadow-color;
  border-radius: 0.3rem;
  transition: box-shadow 200ms ease;
  &:hover {
    box-shadow: 0 0.4rem 0.8rem $shadow-color, inset 0 0 0 0.3rem $light-color,
      inset 0 0 0 0.5rem $blue-color;
  }
  @include media(992) {
    max-width: none;
  }
  &__top {
    padding-bottom: 2rem;
    border-bottom: $line-style;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__category {
    font-size: 1.6rem;
  }
  &__rating {
    color: $primary-color;
  }
  &__main {
    display: flex;
    flex-direction: column;

    @include media(768) {
      flex-direction: row;
    }
  }
  &__img-wrapper {
    width: 100%;
    max-width: 21rem;
    height: 17rem;
    flex-shrink: 0;
    margin: 0 auto;

    @include media(768) {
      margin: 0;
    }
  }
  &__img {
    height: 100%;
    object-fit: contain;
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0;

    @include media(768) {
      margin: 0;
    }
  }
  &__description {
    padding: 2rem;
    background-color: rgba($blue-color, 0.2);
    border-radius: 0.8rem;
    margin-bottom: 2rem;
  }
  &__bottom {
    display: flex;
    border-top: $line-style;
    padding-top: 2rem;
  }
  &__price {
    flex-grow: 1;
    margin-right: 2rem;
    border-right: $line-style;
  }
  &__label {
    display: block;
  }
  &__value {
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }
  &__currency {
    font-size: 2rem;
    font-weight: $fw-bold;
  }
  &__btn {
    $size: 5rem;

    width: $size;
    height: $size;
    border-radius: 50%;
    flex-shrink: 0;
  }
}
