@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.sidebar {
  display: none;

  @include media(1200) {
    display: block;
    background-color: $blue-color;
    width: 25rem;
    flex-shrink: 0;
  }
}
