@import "../../styles/variables.scss";

.footer {
  padding: 0.6rem 2rem;
  background-image: $secondary-lg;
  text-align: center;
  &__copyright {
    color: $light-color;
    font-weight: $fw-normal;
  }
}
